<%- include('layouts/header.ejs') %> 
      
      

      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-center">Favorite basketball players</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="text-center">KYRIE</h2>
            </div>
        </div>
    </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <iframe width="1237" height="696" src="https://www.youtube.com/embed/cNy18DHwbmA" title="20 Times Kyrie Irving Proved He Has The Best Handles In The World ðŸŒ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="text-center">CURRY</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col">
            <iframe width="1237" height="696" src="https://www.youtube.com/embed/8835heTiSAk" title="Stephen Curry INSANE MVP Performance In 2022 NBA All Star Game - 50 Pts, 16 Threes, AMAZING!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-center">Favorite artists</h1>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card p-3" style="width: 18rem;">
                <img src="../pics/rodWave.jpg" class="card-img-top" alt="Soulfly deluxe album cover">
            <div class="card-body">
                <h1 class="text-center">Rod Wave</h1>
            </div>
            </div>
            <div class="card p-3" style="width: 18rem;">
                <img src="../pics/drake.webp" class="card-img-top" alt="Scorpion album cover">
            <div class="card-body">
                <h1 class="text-center">Drake</h1>
            </div>
            </div>
            <div class="card p-3" style="width: 18rem;">
                <img src="../pics/Bryson.png" class="card-img-top" alt="Trapsoul album cover">
            <div class="card-body">
                <h1 class="text-center">Bryson Tiller</h1>
            </div>
            </div>
        </div>
    </div>



    <!--extra spaces-->
      <br>
      <br>
      <br> 

    <!--bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
</body>
</html>